/* CONFIGURAÇÕES GERAIS*/
@font-face {
  font-family: 'baby';
  src: url('fontes/OoohBaby-Regular.ttf');
}

@font-face {
  font-family: 'opensans';
  src: url('fontes/OpenSans-CondLight.ttf');
}

@font-face {
  font-family: 'Antishbusy';
  src: url('fontes/Antishbusy.ttf')
}

@font-face {
  font-family: 'Sophia Script';
  src: url('fontes/Sophia-Script.ttf')
}


* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --color1: #BC4584;
  --color2: #FDDCE5;
  --color3: #9c125c;
}

body {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color1);
}

/* CONFIGURAÇÕES GERAIS */


/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: normal;
  height: 19%;
  background-color: rgba(255, 255, 255, 0.607);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--color1);
}

#logo {
  margin-left: 2%;
  padding: 10px 0 15px;
}

nav {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-link {
  color: var(--color1);
  position: relative;
}

.nav-link::after {
  border-bottom: 1.5px solid var(--color1);
  display: block;
  content: '';
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 300ms ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  color: var(--color3);
}

.nav-link container {
  padding-right: 3px;
}

#searchbar-input {
  font-size: 1.2rem;
  width: 10rem;
  padding: 6px;
  border: none;
  outline: none;
  background: transparent;
}

#searchbar-input:focus {
  background-color: rgba(255, 255, 255, 0.404);
  border-bottom: 1.5px solid var(--color1);
  font-size: 1.2rem;
}

#searchbar-input::placeholder {
  color: var(--color1);
}

#searchbar::after {
  border-bottom: 1.5px solid var(--color1);
  display: block;
  content: '';
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 300ms ease-in-out;
}

#searchbar:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* HEADER */


/* HOME - WELCOME */
#home-welcome {
  width: 100%;
  padding: 8% 60px 30px;
  background-image: url(home.jpg);
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-text h1 {
  font-family: 'baby';
  font-size: 5.2rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

#welcome-text h2 {
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: 20px;
}

#welcome-button {
  width: 9em;
  padding: 0.4em 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(.25turn, white, var(--color2));
  color: var(--color1);
  border: 3px solid var(--color1);
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

}

#welcome-button:hover {
  transform: scale(105%, 105%);
  transition: all .5s ease-in-out;
}

#home-welcome p {
  position: absolute;
  right: 5px;
  padding-top: 15px;
  font-size: 0.5rem;
}

/* HOME - WELCOME */


/* HOME - PREVIEW */
#home-preview {
  margin: 130px 0 130px;
  padding: 0 20px 0;
  position: relative;
}

#home-preview h1 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
}

#carousel {
  display: inline-flex;
}

.carousel-img {
  margin: 0 15px 0;
}

#left-arrow,
#right-arrow {
  overflow: hidden;
  position: absolute;
  opacity: 70%;
  top: 60%;
  transform: translateY(-50%);
}

#left-arrow {
  display: none;
  left: 10px;
}

#right-arrow {
  right: 10px;
}

/* HOME - PREVIEW */


/* HOME - BENEFITS */
#home-benefits {
  max-width: 50%;
  margin: 0 auto 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'opensans';
}

.benefits {
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.benefits img {
  min-width: 10%;
}

.benefits-text {
  font-weight: lighter;
  max-width: 85%;
  margin-left: 16px;
}

/* HOME - BENEFITS */


/* CATALOGO - INTRO */
#catalogo-intro {
  padding-top: 11%;
  margin-bottom: 130px;
}

#catalogo-intro h1 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

#catalogo-itens {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
}

.catalogo-item {
  color: var(--color1);
  width: 70%;
  margin-bottom: 50px;
  border-bottom: 1.5px solid var(--color1);
}

.catalogo-item:hover {
  cursor: pointer;
  color: var(--color3);
  border-color: var(--color3);
}

.catalogo-item h2 {
  font-size: 1.4rem;
  font-weight: normal;
}

/* CATALOGO - INTRO */


/* FOOTER */
footer {
  width: 100%;
  background-color: var(--color2);
  text-align: center;
  position: sticky;
  bottom: 0;
}

footer h1 {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 20px 0 40px;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#contact h2 {
  font-weight: normal;
  margin-right: 10px;
}

.contact-img {
  margin-right: 15px;
}

.contact-link:hover {
  cursor: pointer;
}

#zap,
#insta {
  border-radius: 35px;
}

#footer-copyright img {
  max-width: 150px;
}

#footer-copyright p {
  font-size: 0.75rem;
  padding-bottom: 10px;
}

/* FOOTER */


/* Scroll to Top Button */
#scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 2px 0 2px;
  border-radius: 50%;
  background-color: #f3f3f3aa;
}

#scroll-top:hover {
  background-color: #a0a0a0aa;
}

/* Scroll to Top Button */


/* Media Queries */
/* Landscape phones and down */
@media (max-width: 480px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Large desktop */
@media (min-width: 1200px) {}

/* Media Queries */