/*********** CONFIGURAÇÕES GERAIS ***********/
@font-face {
  font-family: 'baby';
  src: url('fontes/OoohBaby-Regular.ttf');
}

@font-face {
  font-family: 'opensans';
  src: url('fontes/OpenSans-CondLight.ttf');
}

@font-face {
  font-family: 'Antishbusy';
  src: url('fontes/Antishbusy.ttf')
}

@font-face {
  font-family: 'Sophia Script';
  src: url('fontes/Sophia-Script.ttf')
}

@font-face {
  font-family: 'Dancing Script';
  src: url('fontes/Dancing-Script.ttf');
}

@font-face {
  font-family: 'Helvetica Bold';
  src: url('fontes/Helvetica-Bold.ttf');
}

@font-face {
  font-family: 'Instagram';
  src: url('fontes/Instagram.otf');
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --color1: #BC4584;
  --color2: #FDDCE5;
  --color3: #9c125c;
}

body {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color1);
}

/********** CONFIGURAÇÕES GERAIS **********/



/********** HEADER **********/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  font-size: 1.5rem;
  font-weight: normal;
  height: 18%;
  background-color: rgba(255, 255, 255, 0.607);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--color1);
}

#logo {
  margin-left: 2%;
  padding: 10px 0 15px;
}

nav {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-link {
  color: var(--color1);
  position: relative;
}

.nav-link::after {
  border-bottom: 1.5px solid var(--color1);
  display: block;
  content: '';
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 300ms ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  color: var(--color3);
}

.nav-link container {
  /* nav square symbol */
  padding-right: 3px;
}

#searchbar-input {
  font-size: 1.2rem;
  width: 10rem;
  padding: 6px;
  border: none;
  outline: none;
  background: transparent;
}

#searchbar-input::placeholder {
  color: var(--color1);
}

#searchbar::after {
  border-bottom: 1.5px solid var(--color1);
  display: block;
  content: '';
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 300ms ease-in-out;
}

#searchbar:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#searchbar-input:focus {
  background-color: rgba(255, 255, 255, 0.404);
  border-bottom: 1.5px solid var(--color1);
  font-size: 1.2rem;
}

/********** HEADER **********/



/********** HOME - WELCOME SECTION **********/
#home-welcome {
  width: 100%;
  padding: 8% 60px 30px;
  background-image: url(home.jpg);
  background-position-y: bottom;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-text h1 {
  font-family: 'baby';
  font-size: 5.2rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

#welcome-text h2 {
  font-weight: lighter;
  font-size: 1rem;
  margin-bottom: 20px;
}

#welcome-button {
  width: 9em;
  padding: 0.4em 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  color: var(--color1);
  background: linear-gradient(.25turn, white, var(--color2));
  border: 3px solid var(--color1);
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

#welcome-button:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.347);
}

#home-welcome p {
  /* credits to Freepik image */
  position: absolute;
  right: 5px;
  padding-top: 15px;
  font-size: 0.5rem;
}

/********** HOME - WELCOME SECTION **********/



/********** HOME - PREVIEW SECTION **********/
#home-preview {
  margin: 130px 0 130px;
  padding: 0 20px 0;
  position: relative;
}

#home-preview h1 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
}

#home-carousel-div-js {
  width: 100%;
}

#carousel-home {
  width: max-content;
  display: flex;
  gap: 30px;
}

.carousel-img-home {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes move {
  to {
    transform: translate(calc(-50% - 1.5em));
  }
}

/********** HOME - PREVIEW SECTION **********/



/********** HOME - BENEFITS SECTION **********/
#home-benefits {
  max-width: 50%;
  margin: 0 auto 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'opensans';
}

.benefits {
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.benefits img {
  min-width: 10%;
}

.benefits-text {
  font-weight: lighter;
  max-width: 85%;
  margin-left: 16px;
}

/********** HOME - BENEFITS SECTION **********/



/********** CATALOGO - INTRO SECTION **********/
#catalogo {
  background-image: url(catalogo.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
}

#catalogo-intro {
  margin-bottom: 130px;
}

#catalogo-intro h1 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

#catalogo-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12%;
}

.catalogo-link {
  color: var(--color1);
  width: 70%;
  margin-bottom: 50px;
  border-bottom: 1.5px solid var(--color1);
}

.catalogo-link:hover {
  cursor: pointer;
  color: var(--color3);
  border-color: var(--color3);
}

.catalogo-link h2 {
  font-size: 1.4rem;
  font-weight: normal;
}

#back-button-catalogo {
  display: none;
  max-width: fit-content;
  position: relative;
  opacity: 70%;
  left: 2%;
  padding-top: 2%;
}

#back-button-catalogo:hover {
  opacity: 100%;
  cursor: pointer;
}

/********** CATALOGO - INTRO SECTION **********/



/********** CATALOGO - ITEM SECTIONS **********/
.catalogo-item {
  display: none;
  max-width: 90%;
  margin: -4% auto 130px;
}

.catalogo-item-nome {
  max-width: fit-content;
  font-size: 2rem;
  font-family: 'Dancing Script';
  margin: 0 auto 60px;
}

.catalogo-item-conteudo,
.catalogo-item-conteudo-2,
.catalogo-item-conteudo-3,
.catalogo-item-conteudo-4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px 0;
  margin-bottom: 130px;
}

.catalogo-item-texto h2,
.catalogo-item-texto-2 h2,
.catalogo-item-texto-3 h2,
.catalogo-item-texto-4 h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.catalogo-item-texto p,
.catalogo-item-texto-2 p,
.catalogo-item-texto-3 p,
.catalogo-item-texto-4 p {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.catalogo-carousel,
.catalogo-carousel-2,
.catalogo-carousel-3,
.catalogo-carousel-4 {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogo-img-carousel,
.catalogo-img-carousel-2,
.catalogo-img-carousel-3,
.catalogo-img-carousel-4 {
  max-width: 400px;
  height: 400px;
  object-fit: contain;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.catalogo-left-arrow,
.catalogo-right-arrow,
.catalogo-left-arrow-2,
.catalogo-right-arrow-2,
.catalogo-left-arrow-3,
.catalogo-right-arrow-3,
.catalogo-left-arrow-4,
.catalogo-right-arrow-4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 70%;
  cursor: pointer;
}

.catalogo-left-arrow,
.catalogo-left-arrow-2,
.catalogo-left-arrow-3,
.catalogo-left-arrow-4 {
  left: 0;
}

.catalogo-right-arrow,
.catalogo-right-arrow-2,
.catalogo-right-arrow-3,
.catalogo-right-arrow-4 {
  right: 0;
}

.catalogo-left-arrow:hover,
.catalogo-right-arrow:hover,
.catalogo-left-arrow-2:hover,
.catalogo-right-arrow-2:hover,
.catalogo-left-arrow-3:hover,
.catalogo-right-arrow-3:hover,
.catalogo-left-arrow-4:hover,
.catalogo-right-arrow-4:hover {
  opacity: 100%;
}

/********** CATALOGO - ITEM SECTIONS **********/



/********** SOBRE **********/
#sobre {
  display: none;
}

/********** SOBRE **********/



/********** FOOTER **********/
footer {
  width: 100%;
  background-color: var(--color2);
  text-align: center;
  position: sticky;
  bottom: 0;
}

footer h1 {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 20px 0 40px;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#contact h2 {
  font-weight: normal;
  margin-right: 10px;
}

.contact-link {
  background-color: white;
  margin-right: 8px;
}

.contact-link:hover {
  cursor: pointer;
  background-color: var(--color1);

  #path1whats,
  #path2whats,
  #path3whats,
  #path1insta,
  #path2insta,
  #path3insta,
  #Icon-Setmail,
  #tspan1whats,
  #tspan1insta {
    fill: white;
  }
}

#whats,
#insta {
  width: 150px;
  height: 60px;
  overflow: hidden;
  border-radius: 30px;
}

#mail {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

#footer-copyright img {
  max-width: 150px;
}

#footer-copyright p {
  font-size: 0.75rem;
  padding-bottom: 5px;
}

/********** FOOTER **********/



/********** SCROLL TO TOP BUTTON **********/
#scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 5px 2px;
  background-color: #f3f3f3aa;
}

#scroll-top:hover {
  background-color: #a0a0a0aa;
}
/********** SCROLL TO TOP BUTTON *********/



/* Media Queries */
/* Landscape phones and down */
@media (max-width: 480px) {}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

/* Large desktop */
@media (min-width: 1200px) {}

/* Media Queries */
